hello
{{title}}
{{author}}
{{details}}
<form action="/contact" method="POST">
  Title: <input type="text" name="title">
  Author: <input ype="text" name="author">
  Details: <input type="text" name="details">
  <button type="submit">Submit</button>
</form>